.breadcrumb {
  max-width: 1600px;
  height: 150px;
  background-color: #f8f3f4;
  &_contain {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {

    margin-left: 0;

    p {
      color: #f16d7f;
      font-size: 24px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
    }

  }

  &__nav {
    display: flex;
    align-items: center;
    margin-right: 0;


    p:nth-child(1),
    p:nth-child(2){

      font-size: 18px;
      color: #636363;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;

      &::after {

        content: "/";
      }
    }
    p:nth-child(3) {

      font-size: 18px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      color: #f16d7f;
    }
  }
}