.checkout {
  margin-top: 30px;

  &__part {
    border-bottom: 1px solid #e8e8e8;
    margin-top: 35px;
    padding-bottom: 35px;
    &:last-child {
      margin-bottom: 90px;
    }

  }

  .part-content {

    .registration {
      display: block;
      width: 50%;
      margin-right: 0;
      &__text {
        margin-top: 30px;
        margin-bottom: 30px;

      }
      &__label {
        margin-bottom: 10px;
        input {
          margin-right: 10px;
        }
      }
    }
    .registration__h2 {
      margin: 0;
      color: #222222;
      font-size: 13px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: normal;
      text-align: left;
      text-transform: uppercase;
    }
    .registration__span {
      margin: 0;
      color: #b3b2b2;
      font-size: 13px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      line-height: 20px;
      text-align: left;
    }

    .adress {
      width: 33%;
      display: flex;
      flex-direction: column;
      margin-left: 0;

      label p{

        margin: 25px 0 0 0;
        color: #222222;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
        text-transform: uppercase;
      }

      &__error{
        margin: 10px 0 0 0;
        color: #ff0d0d;
        font-size: 13px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
      }
      &__button {
        margin: 0;
      }
      &__button a {
        text-decoration: none;
        color: #222222;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
        margin-left: 32px;
      }
      &__button input {
        margin-top: 43px;
        margin-left: 0;
      }
      &__reg {
        margin-left:  0;
        width: 395px;
        height: 45px;
        border: 1px solid #eaeaea;
      }
      &__h2-cont {
        margin-top: 30px;
      }
    }
  }

  .checkout__in, .part-content {
    display: none;
  }

  &__part :checked ~ .part-content {
    display: flex;
  }
}

.part-title {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
}

.check__btn {
  color: #222222;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: right;
  text-transform: uppercase;
}

.checkout__fast {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
}

.registration__continue {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;

  text-transform: uppercase;

  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;

  margin-top: 38px;
}