.main_page {
  position: relative;
  width: 100%;

  background-color: #e8e8e8;
}
.main_page__title {
  position: absolute;
  padding-left: 12px;
  width: 550px;
  height: 85px;
  top: 224px;
  z-index: 5;

  h1 {
    margin-top: 0;
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;

  }

  h2 {
    line-height: normal;
    font-size: 40px;
    font-style: normal;
    letter-spacing: 1px;

    span {
      color: #f16d7f;
    }

  }



  &::before {
    content: "";
    width: 12px;
    height: 96px;
    background-color: #f16d7f;

    position: absolute;
    z-index: 3;
    top: 16px;
    left: -12px;
  }
}
.main_page__photo {
   position: relative;
   left: -300px;

}