.nav__menu {
  width: 680px;
  height: 10px;


  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  list-style-type: none;

  .nav__link a {
    color: #222222;
    text-decoration: none;
  }

  .nav__link{

    &:hover {
      transform: scale(1.1, 1.1);
    }

    &:active  {
      transform: scale(0.85, 0.85);
    }
  }

}



