
* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Lato', sans-serif;
}
.padding__site{
  padding-right: 230px;
  padding-left: 230px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1600px;
  box-sizing: border-box;
}

  .container:nth-child(1){
    padding-bottom: 30px;
    border-bottom: 1px solid grey;

  }

  .container:nth-child(3) {
    background-image: url("../../images/bg-image.png");
    background-repeat: no-repeat;
    width: 1600px;
    height: 665px;
  }


  header {
  display: flex;
  }
.logo {

  display: flex;
  align-items: center;
  margin: 9px 0 0 0 ;
  &__images{
    width: 59px;
    height: 51px;

    margin-right: 13px;
  }
  &__text {


    width: 93px;
    height: 19px;
    color: #222222;

    font-size: 27px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;

    & span {

      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.68px;
      line-height: normal;
      color: #ff0000;
    }
  }

}

.search {
  margin: 25px 340px 0 37px ;
  form {
    display: flex;
    justify-content: center;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
  }
}
nav {
  padding: 20px 0 20px 0;
}


//....BLOCKS

@import "btn";
@import "nav";
@import "main_page";
@import "special";
@import "futured";
@import "product";
@import "baner";
@import "feedback";
@import "footer";
@import "info";