
* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Lato', sans-serif;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;
  box-sizing: border-box;

}

.header__contain{
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

}

  header {
    display: flex;
    align-items: center;
    margin: 0  auto;
    max-width: 1600px;
    height: 100px;
    border-bottom: 1px solid grey;

      .logo {

        display: flex;
        align-items: center;
        width: 166px;
        height: 59px;
        margin: 0;

        &__images {
          width: 59px;
          height: 51px;
        }

        &__text {


          width: 93px;
          margin: 0;

          color: #222222;

          font-size: 27px;
          font-weight: 300;
          font-style: normal;
          letter-spacing: normal;
          line-height: normal;
          text-align: center;
          text-transform: uppercase;

          & span {

            font-weight: 400;
            font-style: normal;
            letter-spacing: 0.68px;
            line-height: normal;
            color: #ff0000;
          }
        }

      }

      .search {
        position: absolute;
        left: 200px;
        margin: 0;

        form {
          display: flex;
          justify-content: center;
          border-radius: 0 3px 3px 0;
          border: 1px solid #e6e6e6;
        }
      }
    }

nav {
  padding: 20px 0 20px 0;
}


//....BLOCKS index

@import "btn";
@import "nav";
@import "main_page";
@import "special";
@import "futured";
@import "product";
@import "baner";
@import "feedback";
@import "footer";
@import "info";

//....BLOCKS Product

@import "breadcrumb";
@import "market";
