* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;
  box-sizing: border-box;
}

.header__contain {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1600px;
  height: 100px;
  border-bottom: 1px solid grey;
}
header .logo {
  display: flex;
  align-items: center;
  width: 166px;
  height: 59px;
  margin: 0;
}
header .logo__images {
  width: 59px;
  height: 51px;
}
header .logo__text {
  width: 93px;
  margin: 0;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
header .logo__text span {
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.68px;
  line-height: normal;
  color: #ff0000;
}
header .search {
  position: absolute;
  left: 200px;
  margin: 0;
}
header .search form {
  display: flex;
  justify-content: center;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
}

nav {
  padding: 20px 0 20px 0;
}

.search__btn {
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 3px 0 0 3px;
  background-color: #cdcdcc;
  width: 87px;
  height: 38px;
}
.search__btn a {
  text-decoration: none;
  text-align: center;
}
.search__btn a p {
  color: #222222;
  margin-top: 9px;
}
.search__btn a p:after {
  content: url("../../images/arrow_down.png");
  padding-left: 5px;
}

.search__line {
  margin: 0 0 0 10px;
  font-size: 14px;
  width: 280px;
  height: 38px;
  border: none;
  border-radius: 0 10px 10px 0;
  color: #a4a4a4;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 32px;
  text-align: left;
  padding-left: 15px;
}

.search__item {
  margin: 0 auto;
  padding: 0;
  width: 36px;
  height: 38px;
  border: none;
  border-left: 1px solid #e6e6e6;
}
.search__item a {
  width: 38px;
  height: 38px;
}
.search__item a img {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}

.header__basket {
  display: flex;
  width: 190px;
  margin: 0;
}
.header__basket img {
  margin-top: 8px;
  margin-right: 26px;
  width: 32px;
  height: 29px;
}
.header__basket .btn__account {
  margin: 0 auto;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #ffffff;
  border: none;
  background-color: #de6978;
  width: 130px;
  height: 38px;
  transition: background-color 0.3s linear;
}
.header__basket .btn__account:hover {
  background-color: #ffffff;
  color: #de6978;
  border: 1px solid #de6978;
}
.header__basket .btn__account:active {
  transform: scale(0.9, 0.9);
}
.header__basket img:hover {
  transform: scale(1.1, 1.1);
}
.header__basket img:active {
  transform: scale(0.9, 0.9);
}

nav {
  padding: 0;
  height: 50px;
}

.nav__menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  max-width: 680px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}
.nav__menu .nav__link a {
  position: relative;
  color: #222222;
  text-decoration: none;
}
.nav__menu .nav__link a:hover:before {
  position: absolute;
  top: 32px;
  z-index: 10;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #f16d7f;
  transition: width 0.2s linear;
}
.nav__menu .nav__link {
  margin-top: 12px;
  position: relative;
}
.nav__menu .nav__link::before:hover {
  position: relative;
}
.nav__menu .nav__link:active {
  transform: scale(0.85, 0.85);
}

.main_page {
  max-width: 1600px;
  height: 665px;
  background-image: url(../../images/bg-image.png);
}

.main_page__title {
  padding-left: 12px;
  width: 550px;
  height: 85px;
  position: absolute;
  top: 224px;
}
.main_page__title h1 {
  margin-top: 0;
  color: #222222;
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: normal;
}
.main_page__title h2 {
  line-height: normal;
  font-size: 40px;
  font-style: normal;
  letter-spacing: 1px;
}
.main_page__title h2 span {
  color: #f16d7f;
}
.main_page__title::before {
  content: "";
  width: 12px;
  height: 96px;
  background-color: #f16d7f;
  position: absolute;
  z-index: 3;
  top: 16px;
  left: -12px;
}

.special_contain {
  position: relative;
  display: flex;
}
.special__hotdeal {
  display: block;
  margin: 0 0 0 15px;
}
.special__forMen {
  width: 560px;
  height: 542px;
  background-image: url(../../images/for_MEN.png);
  background-size: contain;
  margin: 98px 20px 20px 0;
}
.special__accesories {
  width: 560px;
  height: 261px;
  background-image: url(../../images/accesories.png);
  background-size: contain;
  margin-right: 20px;
}
.special__offer {
  display: block;
  margin: 0 15px 0 0;
}
.special__women {
  width: 560px;
  height: 261px;
  background-image: url(../../images/women.png);
  background-size: contain;
  margin: 98px 0 20px 0;
}
.special__kids {
  width: 560px;
  height: 542px;
  background-image: url(../../images/for_kids.png);
  background-size: contain;
}

.stick {
  position: relative;
  top: 26px;
  margin: 0;
  padding: 15px 0 0 19px;
  width: 175px;
  height: 82px;
  background-color: #ffffff;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}
.stick h2 {
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.45px;
  line-height: normal;
}
.stick h1 {
  color: #f16d7f;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0.75px;
  line-height: normal;
}
.stick__men {
  width: 175px;
  height: 82px;
}
.stick__acess {
  width: 225px;
  height: 82px;
}
.stick__women {
  width: 162px;
  height: 82px;
}
.stick__kids {
  width: 180px;
  height: 82px;
}

.fetured {
  margin-top: 100px;
  margin-bottom: 60px;
}
.fetured__title {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.75px;
  line-height: 23px;
  text-align: center;
}
.fetured__subtitle {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 35px;
  text-align: center;
}

.product_contain {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.product__card {
  position: relative;
  width: 263px;
  height: 364px;
  margin-bottom: 29px;
}
.product__card h1 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin: 20px 0 17px 15px;
}
.product__card h2 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin-left: 15px;
}
.product__effect {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 263px;
  height: 364px;
  background-image: url("../../images/Hover_effect.png");
  background-repeat: no-repeat;
  transition: opacity 0.3s linear;
}
.product__effect a {
  text-decoration: none;
  color: white;
}
.product__effect .button_buy {
  margin: 98px 0 144px 70px;
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  align-items: center;
}
.product__effect:hover {
  opacity: 100;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.btn_product {
  position: relative;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  text-align: center;
  margin-top: 50px;
  transition: 0.3s linear;
}
.btn_product a {
  width: 212px;
  height: 48px;
  position: relative;
  top: 17px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.4px;
}
.btn_product a:after {
  margin-left: 5px;
  content: url("../../images/arrow.png");
}
.btn_product:hover {
  transform: scale(1.1, 1.1);
}
.btn_product:active {
  transform: scale(0.9, 0.9);
}

.baner_contain {
  position: relative;
  display: flex;
  margin-top: 113px;
}
.baner__forWomen {
  position: relative;
  margin-right: 0;
  max-width: 767px;
  height: 529px;
  background-color: black;
}
.baner__forWomen .baner__photo img {
  max-width: 767px;
}
.baner__forWomen .baner__photo img:nth-child(1) {
  position: absolute;
}
.baner__forWomen .baner__text {
  position: absolute;
  z-index: 1;
  margin: 146px 0 135px 39px;
}
.baner__forWomen .baner__text p {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
}
.baner__forWomen .baner__text p:nth-child(1) {
  font-style: normal;
  letter-spacing: 1.5px;
  line-height: normal;
}
.baner__forWomen .baner__text p:nth-child(2) {
  font-size: 32px;
  font-style: normal;
  letter-spacing: 0.9px;
  line-height: normal;
}
.baner__forWomen .baner__text span {
  color: #f16d7f;
  font-style: normal;
  letter-spacing: 1.5px;
  line-height: normal;
}
.baner__deliv {
  max-width: 403px;
  margin-right: 0;
  height: 529px;
  background-color: #222224;
}
.baner__content {
  display: flex;
  width: 90%;
  height: 33.333333%;
}
.baner__content img {
  width: 45px;
  height: 32px;
  margin: 42px 34px 0 32px;
}
.baner__content img[alt=percent] {
  width: 40px;
  height: 40px;
}
.baner__delivInfo {
  margin-top: 48px;
}
.baner__delivInfo p {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
  line-height: normal;
  text-align: left;
}
.baner__delivInfo span {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}

.feedback {
  position: relative;
  max-width: 1600px;
  height: 438px;
}
.feedback_contain {
  position: relative;
  width: 1600px;
  margin-top: 97px;
}
.feedback__product-contain {
  position: relative;
  width: 1600px;
}
.feedback__content {
  display: flex;
  position: absolute;
}
.feedback__content .review {
  display: flex;
  position: relative;
  z-index: 1;
  padding-top: 123px;
  width: 566px;
  height: 438px;
}
.feedback__content .review .user_photo {
  margin: 0;
}
.feedback__content .review .user_photo img {
  width: 83px;
  height: 83px;
  border-radius: 50%;
}
.feedback__content .review .user_review {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 0.4px;
  line-height: 26px;
  text-align: left;
  margin: 0 0 0 28px;
}
.feedback__content .review .user_review p {
  margin-bottom: 19px;
  width: 386px;
}
.feedback__content .review .user_review .user_name span {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: 26px;
  color: #f16d7f;
}
.feedback__content .review .user_review .user_name p {
  color: #222224;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3px;
  line-height: 14px;
}
.feedback__content .review .pagination .line {
  display: inline-block;
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  margin-left: 13px;
}
.feedback__content .review .pagination .line-active {
  background-color: #f16d7f;
}
.feedback__content .subscribe {
  position: relative;
  z-index: 1;
  width: 570px;
  height: 438px;
}
.feedback__content .subscribe .sub__text {
  display: block;
  text-align: center;
  margin-top: 140px;
}
.feedback__content .subscribe .sub__text .title {
  font-size: 24px;
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: 54px;
  text-transform: uppercase;
}
.feedback__content .subscribe .sub__text .subtitle {
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 24px;
}
.feedback__content .subscribe form {
  margin-top: 35px;
  margin-left: 92px;
}
.feedback__content .subscribe input:nth-child(1) {
  width: 282px;
  height: 46px;
  border: none;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.35px;
  text-align: center;
}
.feedback__content .subscribe input:nth-child(2) {
  border: none;
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.35px;
  text-align: center;
}
.feedback__content .subscribe:before {
  content: "";
  width: 4px;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 2;
}
.feedback__back {
  position: relative;
  top: 0;
  left: 0;
}
.feedback__back img:nth-child(1) {
  width: 1600px;
  height: 438px;
  position: absolute;
}
.feedback__back img:nth-child(2) {
  width: 1600px;
  height: 438px;
}

footer {
  background-color: #e6e6e6;
  margin-top: 89px;
}
footer .footer_contain {
  display: flex;
  justify-content: space-between;
  width: 1600px;
  height: 79px;
}
footer .copyright {
  margin-left: 0;
  margin-top: 20px;
}
footer .copyright span {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: 42px;
  text-align: right;
}
footer .social {
  margin-right: 0;
}
footer .social ul {
  display: flex;
}
footer .social ul li {
  background-color: #fff;
  width: 32px;
  height: 32px;
  margin-top: 24px;
  margin-left: 10px;
  list-style-type: none;
}
footer .social ul li a img {
  padding: 8px 9px 8px 9px;
}
footer .social ul li:nth-child(2) {
  background-color: #f16d7f;
}
footer .social ul li:nth-child(3) {
  background-color: darkgrey;
}

.logo_posit {
  display: flex;
  align-items: center;
  width: 72px;
  margin-left: 0;
}

.info_contain {
  margin-top: 123px;
  display: flex;
}
.info__brand {
  width: 430px;
}
.info__brand p {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}
.info__brand p:nth-child(1) {
  margin-top: 22px;
  margin-bottom: 20px;
}
.info__company {
  margin-left: 60px;
}
.info__category {
  margin-left: 30px;
}
.info__company, .info__info, .info__category {
  margin-top: 20px;
}
.info__company span, .info__info span, .info__category span {
  margin-bottom: 45px;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.35px;
  line-height: 26px;
  text-align: right;
  text-transform: uppercase;
}
.info__company ul, .info__info ul, .info__category ul {
  width: 220px;
  padding: 20px 0 0 0;
}
.info__company li, .info__info li, .info__category li {
  padding-top: 20px;
  list-style-type: none;
}
.info__company a, .info__info a, .info__category a {
  text-decoration: none;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: normal;
  text-align: right;
}
.info__company a:hover, .info__info a:hover, .info__category a:hover {
  text-shadow: 1px 1px 1px #7a7a7a;
}
.info__company a:active, .info__info a:active, .info__category a:active {
  text-shadow: none;
}

.breadcrumb {
  max-width: 1600px;
  height: 150px;
  background-color: #f8f3f4;
}
.breadcrumb_contain {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb__title {
  margin-left: 0;
}
.breadcrumb__title p {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
.breadcrumb__nav {
  display: flex;
  align-items: center;
  margin-right: 0;
}
.breadcrumb__nav p:nth-child(1),
.breadcrumb__nav p:nth-child(2) {
  font-size: 18px;
  color: #636363;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.breadcrumb__nav p:nth-child(1)::after,
.breadcrumb__nav p:nth-child(2)::after {
  content: "/";
}
.breadcrumb__nav p:nth-child(3) {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #f16d7f;
}

.market {
  position: relative;
  margin-top: 70px;
}
.market_contain {
  display: flex;
  justify-content: space-between;
}
.market__product {
  display: block;
  max-width: 846px;
}
.market__product .market__filter {
  display: flex;
  margin-bottom: 40px;
}
.market__product .market__filter .filter_title {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.market__product .market__filter .market__trending {
  margin-left: 0;
  max-width: 180px;
}
.market__product .market__filter .market__trending-items {
  border: none;
  background: transparent;
  margin-bottom: 7px;
}
.market__product .market__filter .market__trending-items:nth-child(1), .market__product .market__filter .market__trending-items:nth-child(2), .market__product .market__filter .market__trending-items:nth-child(4), .market__product .market__filter .market__trending-items:nth-child(5) {
  border-right: 1px solid grey;
}
.market__product .market__filter .market__size {
  max-width: 180px;
}
.market__product .market__filter .market__size .size-item-wrapper {
  display: flex;
}
.market__product .market__filter .market__size .size-vertical-wrapper {
  display: flex;
  flex-direction: column;
}
.market__product .market__filter .market__size .size-item {
  width: 50px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 5px;
}
.market__product .market__filter .market__price {
  max-width: 180px;
}
.market__cards_contain {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.market__cards .market__card {
  position: relative;
  width: 263px;
  height: 364px;
  margin-bottom: 29px;
}
.market__cards .market__card h1 {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin: 20px 0 17px 15px;
}
.market__cards .market__card h2 {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  margin-left: 15px;
}
.market__cards .market__effect {
  position: absolute;
  z-index: 2;
  opacity: 0;
  width: 263px;
  height: 364px;
  background-image: url("../../images/Hover_effect.png");
  background-repeat: no-repeat;
  transition: opacity 0.3s linear;
}
.market__cards .market__effect a {
  text-decoration: none;
  color: white;
}
.market__cards .market__effect .button_buy {
  margin: 98px 0 144px 70px;
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  align-items: center;
}
.market__cards .market__effect:hover {
  opacity: 100;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
.market__nav {
  width: 243px;
}
.market__nav .tab input, .market__nav .tab-content {
  display: none;
}
.market__nav .tab {
  margin-bottom: 10px;
}
.market__nav .tab::before {
  position: absolute;
  z-index: 5;
  content: "";
  height: 37px;
  width: 5px;
  background-color: #ef5b70;
}
.market__nav .tab-title {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  width: 243px;
  color: #ef5b70;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}
.market__nav .tab-title i {
  margin-right: 0;
}
.market__nav .tab-content {
  padding: 10px 20px;
}
.market__nav .tab-content a {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 33px;
  text-align: left;
}
.market__nav .tab-content a .tab-content_link {
  width: 138px;
}
.market__nav .tab :checked ~ .tab-content {
  display: block;
}
.market__sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 846px;
  height: 50px;
  background-color: #f3f3f3;
  margin-bottom: 50px;
}
.market__sort .market__label {
  display: flex;
  align-items: center;
  position: relative;
  width: 153px;
  height: 30px;
  margin-right: 10px;
  margin-left: 0;
  padding-left: 12px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
}
.market__sort .market__label:nth-child(1) {
  margin-left: 10px;
}
.market__sort .market__label:nth-child(2) {
  width: 119px;
  height: 30px;
}
.market__sort .market__label:nth-child(1):after {
  position: absolute;
  left: 60px;
  z-index: 5;
  content: "";
  height: 24px;
  width: 1px;
  background-color: gainsboro;
}
.market__sort .market__label:nth-child(2):after {
  position: absolute;
  left: 52px;
  z-index: 5;
  content: "";
  height: 24px;
  width: 1px;
  background-color: gainsboro;
}
.market__sort .market__label select {
  margin: 0;
  height: 20px;
  border: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  padding-right: 10px;
  padding-left: 8px;
}
.market__number {
  display: flex;
  justify-content: space-between;
}
.market__num {
  display: flex;
  align-items: center;
  width: 261px;
  height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  margin-left: 0;
}
.market__num a {
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  padding: 11px;
  text-decoration: none;
  quotes: "<" ">";
}
.market__num a:nth-child(1)::before {
  padding-right: 5px;
  content: open-quote;
}
.market__num a:nth-child(20)::after {
  content: close-quote;
}
.market__btn {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #ffffff;
  border: none;
  background-color: #de6978;
  width: 150px;
  height: 38px;
  transition: background-color 0.3s linear;
}
.market__btn:hover {
  background-color: #ffffff;
  color: #de6978;
  border: 1px solid #de6978;
}
.market__btn:active {
  transform: scale(0.9, 0.9);
}

.delivery {
  max-width: 1600px;
  height: 341px;
  background-color: #222224;
  margin-top: 110px;
}
.delivery_contain {
  display: flex;
  justify-content: space-between;
}
.delivery__content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  max-width: 33.3333%;
}
.delivery__content img {
  height: 42px;
  margin: 89px 0 32px 0;
}
.delivery__content h2 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  margin-bottom: 21px;
}
.delivery__content span {
  max-width: 300px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 23.95px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
